numpy
pandas
matplotlib
scikit-learn
jupyter
tqdm
torch
torchvision
transformers
open_clip_torch
faiss-cpu
pillow
opencv-python
yt-dlp
easyocr
streamlit
openai-whisper
ultralytics
supervision
google-generativeai